**/__pycache__
.env
django/db.sqlite3
backend/db.sqlite3
backend/uploads
backend/downloads/*
!backend/downloads/__init__.py
venv/
.venv/

# development environment
.idea/
.vscode/

#deploy
letsencrypt
.env.prod
node_modules
/node_modules/