.pageBox {
    margin-top: 80px !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 8px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.pageRow {
    width: 75% !important;
    max-width: 75% !important;
}

.returnProjectButton {
    background-color: #D0E4FF !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    align-items: center !important;
}

.submissionTitle {
    margin-top: 20px !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
}