.mainContainer {
    margin-top: 70px;
    padding: 20px;
}

.returnProjectButton {
    background-color: #D0E4FF !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    align-items: center !important;
    margin-bottom: 10px;
}