.pageBoxLeft {
    margin-top: 20px !important;
    padding: 50px 50px 50px 100px !important;
}

.pageBoxRight {
    margin-top: 64px !important;
    padding: 50px 50px 50px 100px !important;
}

.mainContainer {
    display: flex;
    padding: 20px;
}

.returnCourseButton {
    background-color: #D0E4FF !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    align-items: center !important;
    margin-bottom: 10px;
}

.editProjectButton {
    background-color: #D0E4FF !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    align-items: center !important;
    margin-left: 20px;
}

.addSubmissionButton {
    background-color: #D0E4FF !important;
    padding: 5px 10px !important;
    border-radius: 20px !important;
    border: none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    align-items: center !important;
    margin-left: 20px;
}

.submissionContainer {
    width: 75%;
    max-width: 75%;
}